<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Box-Shadow - Accueil{% endblock %}</title>
        <link rel="stylesheet" href="/assets/css/base.css">
        <script src="/assets/js/base.js" defer></script>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="home">
                <a href="{{ path('home') }}" class="logo">Box-Shadow</a>
                <a href="{{ path('formations') }}">Nos formations</a>
            </div>
            <div class="links">
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('admin') }}">CRUD</a>
            {% endif %}
            {% if is_granted('ROLE_USER') %}
                {% if is_granted('ROLE_ELEVE') %}
                    <a href="{{ path('code') }}">S'inscrire à une formation</a>
                    <a href="{{ path('profil_eleve') }}">Mon profil</a>
                {% endif %}
                {% if is_granted('ROLE_FORMATEUR') %}
                    <a href="{{ path('profil_formateur') }}">Mon profil</a>
                {% endif %}
                <a href="{{ path('app_logout') }}">Déconnexion</a>            
            {% else %}
                <a href="{{ path('register') }}">S'inscrire</a>
                <a class="dropdown" id="connect">Connexion</a>              
            {% endif %}
            </div>
        </div>
        
        <div class="popup">
            <ul>
                <li><a href="{{ path('formateur_login') }}">Connexion formateur</a></li>
                <li><a href="{{ path('eleve_login') }}">Connexion élève</a></li>
            </ul>
        </div>

        {% block body %}{% endblock %}
    </body>
</html>
