{% extends 'base.html.twig' %}

{% block title %}Coordonnées bancaires{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/register.css">
{% endblock %}

{% block body %}

{{ form_errors(cardForm) }}

    {{ form_start(cardForm, {'attr': {'class': 'allform'}}) }}
    {% if formateur.numeroCarte != null %}
        <h1>Modifier coordonnées bancaires</h1>
        <h4>Vous avez déjà renseigné des cordonnées bancaires ; en remplissant de nouveau ce formulaire, vous les modifierez</h4>
    {% else %}
        <h1>Entrer coordonnées bancaires</h1>
    {% endif %}    
    {{ form_row(cardForm.numero_carte, {'value' : ''}) }}
    {{ form_row(cardForm.date_expiration) }}
    {{ form_row(cardForm.code_carte, {'value' : ''}) }}
        <button type="submit" class="btn">Modifier</button>
    {{ form_end(cardForm, {'attr': {'class': 'allform'}}) }}

{% endblock %}