{% extends 'base.html.twig' %}

{% block title %}Votre profil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/profil.css">
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/profil.js" defer></script>
{% endblock %}

{% block body %}



{% if suivre is not empty %}
    {% set last = suivre|last %}
<div class="navforma">
    <a id="allformas">Parcourir mes formations</a>
    <a href="{{ path('code') }}">Utiliser un code formation</a>
    <a href="">Rechercher un cours ...</a>
</div>

<div class="formations">
    <h2>Formation la plus récente</h2>
    {{ last.idFormation.nom }}
</div>

<div class="showFormations">
    <ul>
    {% for formation in suivre %}
        <li><a href="{{ path('vue_formation_eleve', {id: formation.idFormation.id}) }}">{{ formation.idFormation.nom }}</a></li>
    {% endfor %}        
    </ul>
</div>


{% else %}
    <div class="formations">
        <h1>Bienvenue sur votre profil !</h1>
        <p>Vous n'avez pour l'instant accès à aucune formation. N'hésitez pas à utiliser un code pour accéder aux cours !</p>
        <a href="{{ path('code') }}">Utiliser un code</a>
    </div>
{% endif %}


{% endblock %}
