{% extends 'app/profilEleve.html.twig' %}

{% block title %}{{ modulePage.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/profil.css">
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/profil.js" defer></script>
{% endblock %}

{% block body %}

<div class="navforma">
    <a id="allcours">Cours du module {{ modulePage.nom }}</a>
    <a id="allmodules">Modules de {{ formation.nom }}</a>
    <a id="allformas">Parcourir mes formations</a>
    <a href="">Rechercher un cours ...</a>
    {% if is_granted('ROLE_FORMATEUR') %}
        <a href="{{ path('carte')}}">Mes coordonnées bancaires</a>
    {% endif %}
</div>

<div class="formations">
    <h2>{{ coursPage.nom }}</h2>
    <p class="cours">{{ coursPage.contenu }}</p>
</div>

<div class="showFormations">
    <ul>
    {% if is_granted('ROLE_ELEVE') %}
        {% for formation in suivre %}
            <li><a href="{{ path('vue_formation_eleve', {id: formation.idFormation.id}) }}">{{ formation.idFormation.nom }}</a></li>
        {% endfor %}       
    {% elseif is_granted('ROLE_FORMATEUR') %}
        {% for formation in commande %}
            <li><a href="{{ path('vue_formation_formateur', {id: formation.idFormation.id}) }}">{{ formation.idFormation.nom }}</a></li>
        {% endfor %}
    {% endif %} 
    </ul>
</div>

<div class="showModules">
    <ul>
    {% for mod in modules %}
        {% if is_granted('ROLE_ELEVE') %}
            <li><a href="{{ path('vue_module_eleve', {id: mod.id}) }}">{{ mod.nom }}</a></li>
        {% elseif is_granted('ROLE_FORMATEUR') %}
            <li><a href="{{ path('vue_module_formateur', {id: mod.id}) }}">{{ mod.nom }}</a></li>              
        {% endif %}
    {% endfor %}    
    </ul>
</div>

<div class="showCours">
    <ul>
    {% for lesson in cours %}
        {% if is_granted('ROLE_ELEVE') %}
            <li><a href="{{ path('vue_cours_eleve', {id: lesson.id}) }}">{{ lesson.nom }}</a></li>
        {% elseif is_granted('ROLE_FORMATEUR') %}
            <li><a href="{{ path('vue_cours_formateur', {id: lesson.id}) }}">{{ lesson.nom }}</a></li>             
        {% endif %}
    {% endfor %}        
    </ul>
</div>

{% endblock %}