{% extends 'app/profilEleve.html.twig' %}

{% block title %}{{ formation.nom }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/assets/css/profil.css">
{% endblock %}
{% block javascripts %}
    <script src="/assets/js/profil.js" defer></script>
{% endblock %}

{% block body %}

<div class="navforma">
    <a id="allmodules">Modules de {{ formation.nom }}</a>
    <a id="allformas">Parcourir mes formations</a>
    <a href="">Rechercher un cours ...</a>
    {% if is_granted('ROLE_FORMATEUR') %}
        <a href="{{ path('carte')}}">Mes coordonnées bancaires</a>
    {% endif %}
</div>

<div class="formations">
    {% if is_granted('ROLE_FORMATEUR') %}
        <h2>
        {% for order in commande %}
            {% if order.id == formation.id %}
            Code : {{ order.code }}            
            {% endif %}
        {% endfor %}
        </h2>
    {% endif %}
    <h2>Module actif</h2>
    {% for actifs in modules %}
        {% if actifs.statut == 'actif' %}
            {{ actifs.nom }}        
        {% endif %}
    {% endfor %}
    <h2>Autres modules</h2>
        <ul>
            {% for inactifs in modules %}
                {% if inactifs.statut != 'actif' %}
                    <li>{{ inactifs.nom }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    <h2>Liste des élèves</h2>
        <ul>
            {% for eleve in eleves %}
                {% if eleve.idCommande.idFormation.id == formation.id %}
                    <li>{{ eleve.idEleve.nom }}</li>
                {% endif %}
            {% endfor %}
        </ul>

</div>

<div class="showFormations">
    <ul>
    {% if is_granted('ROLE_ELEVE') %}
        {% for formation in suivre %}
            <li><a href="{{ path('vue_formation_eleve', {id: formation.idCommande.idFormation.id}) }}">{{ formation.idCommande.idFormation.nom }} - {{ formation.idCommande.idFormateur.prenom }} {{ formation.idCommande.idFormateur.nom }}</a></li>
        {% endfor %}       
    {% elseif is_granted('ROLE_FORMATEUR') %}
        {% for formation in commande %}
            <li><a href="{{ path('vue_formation_formateur', {id: formation.idFormation.id}) }}">{{ formation.idFormation.nom }}</a></li>
        {% endfor %}
    {% endif %}
    </ul>
</div>

<div class="showModules">
    <ul>
    {% for mod in modules %}
        {% if is_granted('ROLE_ELEVE') %}
            <li><a href="{{ path('vue_module_eleve', {id: mod.id}) }}">{{ mod.nom }}</a></li>
        {% elseif is_granted('ROLE_FORMATEUR') %}
            <li><a href="{{ path('vue_module_formateur', {id: mod.id}) }}">{{ mod.nom }}</a></li>              
        {% endif %}
    {% endfor %}        
    </ul>
</div>

{% endblock %}

